Package: com.ryu.touchsimulator
Name: TouchSimulator
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ryu
Author: Ryu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
